<div class="section-menu-left">
  <div class="box-logo">
    <a href="" id="site-logo-inner"><img class="logo-img" id="logo_header" src="{% static 'admin/images/logo/logo.png' %}" alt="Company Logo" width="150" height="50" /></a>
    <div class="button-show-hide">
      <i class="icon-menu-left"></i>
    </div>
  </div>

  <div class="center">
    <div class="center-item">
      <div class="center-heading">Main Home</div>
      <ul class="menu-list">
        <li class="menu-item">
          <a href="{% url 'dashboard' %}" class="">
            <div class="icon">
              <i class="icon-grid"></i>
            </div>
            <div class="text">Dashboard</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="center-item">
      <ul class="menu-list">
        <li class="menu-item has-children">
          <a href="javascript:void(0);" class="menu-item-button">
            <div class="icon">
              <i class="icon-shopping-cart"></i>
            </div>
            <div class="text">Products</div>
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a href="{% url 'product' %}" class=""><div class="text">Product</div></a>
            </li>
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">Stock</div></a>
            </li>
          </ul>
        </li>
        <li class="menu-item has-children">
          <a href="javascript:void(0);" class="menu-item-button">
            <div class="icon">
              <i class="icon-layers"></i>
            </div>
            <div class="text">Customer</div>
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a href=" " class=""><div class="text">New Customer</div></a>
            </li>
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">Customer</div></a>
            </li>
          </ul>
        </li>
        <li class="menu-item has-children">
          <a href="javascript:void(0);" class="menu-item-button">
            <div class="icon">
              <i class="icon-layers"></i>
            </div>
            <div class="text">Categories</div>
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a href="{% url 'brand' %}" class=""><div class="text">Brand</div></a>
            </li>
            <li class="sub-menu-item">
              <a href="{% url 'type' %}" class=""><div class="text">Category Type</div></a>
            </li>
          </ul>
        </li>

        <li class="menu-item has-children">
          <a href="javascript:void(0);" class="menu-item-button">
            <div class="icon">
              <i class="icon-user"></i>
            </div>
            <div class="text">Users</div>
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">New Users</div></a>
            </li>
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">Users</div></a>
            </li>
          </ul>
        </li>
        <li class="menu-item has-children">
          <a href="javascript:void(0);" class="menu-item-button">
            <div class="icon">
              <i class="icon-file-plus"></i>
            </div>
            <div class="text">Categories Car</div>
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">Car Mark</div></a>
            </li>
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">Category Office</div></a>
            </li>
          </ul>
        </li>
        <li class="menu-item has-children">
          <a href="javascript:void(0);" class="menu-item-button">
            <div class="icon">
              <i class="icon-file-plus"></i>
            </div>
            <div class="text">Order</div>
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">New Order</div></a>
            </li>
            <li class="sub-menu-item">
              <a href="" class=""><div class="text">Order</div></a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="" class="">
            <div class="icon">
              <i class="icon-image"></i>
            </div>
            <div class="text">Products</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="users.html" class="">
            <div class="icon">
              <i class="icon-user"></i>
            </div>
            <div class="text">User</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="settings.html" class="">
            <div class="icon">
              <i class="icon-settings"></i>
            </div>
            <div class="text">Settings</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
